<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="icon"  href="https://vectorified.com/images/task-manager-icon-5.jpg">
    <title>Трекер задач</title>
</head>
<body class="body">
    <header class="header">
    <form action="/create-task">
        <input type="submit" value="Добавить задачу" class="add-btn">
    </form>
    <div class="theme"> Трекер задач </div>
    </header>
    {% for task in tasklist %}
        <div class="task">
            <div class="task-name"> {{ task.name }} </div>
            {% if task.status == True %}
                <div class="done"> Статус: выполнено</div>
            {% else %}
                <div class="in-work"> Статус: в работе </div>
            {% endif %}
            <div class="description"> {{ task.desc }} </div>
            <button class="button"> Удалить задание </button>
        </div>
    {% endfor %}
</body>
</html>